.services{
    padding: 8rem;
}
.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.services-content-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.services-content{
    position: relative;
}
.service-content-text{
    position: absolute;
    bottom: 50px;
    margin: 2rem 1rem;
    z-index: 6;
    height: 0;
    cursor: pointer;
}
.content-text{
    background-color: #F7F7F8;
    padding: 0rem 2rem;
    font-weight: 200;
    font-size: 32px;  
}
.services-image {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 375px;
    height: 300px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.services-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all 1.1s;
    
}
.services-image:hover img {
    transform: scale(1.2);
}
.services-opacity{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 70vh;
    z-index: 4;
}
.services-opacity:hover{
    background-color: transparent;
    transition: all 0.4s;
}
@media screen and (max-width: 1500px) {
    .services{
        padding: 4rem;
    }
    .services-image {
        width: 295px;
        height: 200px;
        
    }
    .services-content p{
        background-color: #F7F7F8;
        padding: 0rem 1rem;
        font-weight: 200;
        font-size: 28px;  
    }
}
@media screen and (max-width: 1200px) {
        .services{
            padding: 4rem;
        }
        .services-image {
            width: 285px;
            height: 200px;
            
        }
        .services-content-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }
        .services-content p{
            background-color: #F7F7F8;
            padding: 0rem 1rem;
            font-weight: 200;
            font-size: 28px;  
        }
}
@media screen and (max-width: 800px) {
    .services{
        padding: 4rem;
    }
    .services-image {
        width: 300px;
        height: 250px;
        
    }
    .services-content-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .services-content p{
        background-color: #F7F7F8;
        padding: 0rem 1rem;
        font-weight: 200;
        font-size: 28px;  
    }
}
@media screen and (max-width: 500px) {
    .services{
        padding: 4rem;
    }
    .services-image {
        width: 300px;
        height: 250px;
        
    }
    .services-content-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .service-content-text{
        position: absolute;
        bottom: 50px;
        margin: 2rem 1rem;
        z-index: 6;
        height: 0;
        cursor: pointer;
    }
    .content-text{
        background-color: #F7F7F8;
        padding: 0rem 1rem;
        font-weight: 200;
        font-size: 0px;  
    }
}
@media screen and (max-width: 400px) {
    .services{
        padding: 3rem;
    }
    .services-image {
        width: 280px;
        height: 250px;
        
    }
}
@media screen and (max-width: 350px) {
    .services{
        padding: 2rem;
    }
    .services-image {
        width: 260px;
        height: 250px;
        
    }
}