.about-header{
    position: relative;
}
.about-opacity{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 70vh;
    z-index: 4;
}
.offer{
    padding:2rem 0rem;
    background:#F9F9F9
}
.our-team {
    padding:2rem 4rem
}
.about-image img{
    height: 70vh;
    width: 100%;
    object-fit: cover;
}
.about-title{
    position: absolute;
    bottom: 10rem;
    left: 10%;
    z-index: 99;
}
.about-title h1{
    font-size: 82px;
    font-weight: bold;
    color: white;
}
.about-content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 6rem 6rem;
}
.about-content-image{
    flex: 1;
    height: 100%;
    width: 100%;
    position: relative;
}
.about-content-image::before{
    content: '';
    border: 5px solid #246a47;
    position: absolute;
    width: 90%;
    right: 1rem;
    top: 3rem;
    height: 700px ;
    z-index: -50;
}
.about-content-image img{
    height: 100%;
    width: 90%;
    object-fit: cover;
    z-index: 100;
}

.about-content{
    flex: 1;
    padding: 2rem 6rem;
}
.about-content1{
    flex: 1;
    padding: 2rem 6rem;
}
.about-content2{
    flex: 1;
    padding: 2rem 6rem;
}
.about-content h1{
    font-size: 43px;
    font-weight: bold;
}
.about-content1 h1{
    font-size: 43px;
    font-weight: bold;
}
.about-content2 h1{
    font-size: 43px;
    font-weight: bold;
}
.about-content p{
    max-width: 800px;
    font-size: 23px;
    line-height: 38px;
    color: #5A5A5A;
}
.about-content1 p{
    max-width: 800px;
    font-size: 23px;
    line-height: 38px;
    color: #5A5A5A;
}
.about-content2 p{
    max-width: 800px;
    font-size: 23px;
    line-height: 38px;
    color: #5A5A5A;
}


.about-vertical{
    content: "";
    width: 80px;
    height: 5px;
    background-color: #246a47;
    margin: 1rem 0;
}
.m-and-v{
    margin: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.mission{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 0 2rem;
    height: 400px;
}
.mission h3{

}
.mission p{
    width: 400px;
    font-size: 16px;
    line-height: 42px;
    color: #5A5A5A;

}
.vision{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 0 2rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.vision h3{
    
}
.vision p{
    width: 400px;
    font-size: 16px;
    line-height: 42px;
    color: #5A5A5A;
}
.team-members{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding: 2rem 0rem
}
.team-members img{
    object-fit: cover;
    width: 100%
}
.team-image{
    position: relative;
    margin: 0 1rem;
}
.team-image::before{
    content: '';
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    z-index: 9999;
}
.team-image:hover::before{
    background-color: transparent;
    transition: all 0.7s;
   
}
.team-image h1{
    margin: 1rem 0;
}

@media screen and (max-width:1500px) {
    .about-title{
        position: absolute;
        bottom: 2rem;
        left: 8%;
        z-index: 99;
    }
    .about-content h1{
        font-size: 38px;
        font-weight: bold;
    }
    .about-content-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 600px;
        margin: 2rem 4rem;
    }
    .about-content-image::before{
        content: '';
        border: 5px solid #246a47;
        position: absolute;
        width: 90%;
        right: 1rem;
        top: 3rem;
        height: 600px ;
        z-index: -50;
    }
    .offer{
        margin:2rem 2rem;
        padding: 2rem
    }
    .our-team {
        padding:2rem 2rem
    }
    .about-content{
        flex: 1;
        padding: 2rem 0rem;
    }
    .about-content1{
        padding: 2rem 2rem;
    }
}
@media screen and (max-width:1201px) {
    .about-title{
        position: absolute;
        bottom: 0rem;
        left: 4%;
        z-index: 99;
    }
    .about-title h1{
        font-size: 63px;
        font-weight: bold;
        color: white;
    }
    .about-content{
        height: 500px;
        margin: 0rem 2rem;
    }
.about-content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 8rem 2rem;
}
    .about-content h1{
        font-size: 33px;
        font-weight: bold;
    }
    .about-content p{
        max-width: 600px;
        font-size: 16px;
        line-height: 38px;
        color: #5A5A5A;
    }
    .about-content-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin: 4rem 4rem;
    }
    .about-content-image::before{
        content: '';
        border: 5px solid #246a47;
        position: absolute;
        width: 90%;
        right: 1rem;
        top: 2rem;
        height: 500px ;
        z-index: -50;
    }
    .offer{
        margin:2rem 0rem;
        padding: 2rem 4rem
    }
    .our-team {
        padding:2rem 2rem
    }
    .about-content{
        flex: 1;
        padding: 2rem 0rem;
    }
    .about-content1{
        padding: 2rem 2rem;
    }
    .about-content1 h1{
        font-size: 33px;
        font-weight: bold;
    }
    .about-content1 p{
        max-width: 800px;
        font-size: 20px;
        line-height: 33px;
        color: #5A5A5A;
    }
    .about-content2{
        padding: 2rem 0.5rem 0rem;
    }
    .about-content2 h1{
        font-size: 33px;
        font-weight: bold;
    }
    .about-content2 p{
        max-width: 800px;
        font-size: 20px;
        line-height: 33px;
        color: #5A5A5A;
    }
    .team-image{
        position: relative;
        margin: 0 0.5rem;
    }
    .our-team {
        padding:2rem 4rem
    }
}
@media screen and (max-width:901px) {
    .about-title{
        position: absolute;
        bottom: 2rem;
        left: 7%;
        z-index: 99;
    }
    .about-title h1{
        font-size: 53px;
        font-weight: bold;
        color: white;
    }
    .about-content{
        height: 500px;
        margin: 0rem 0rem;
        
    }
    .about-content-image{
        display: none;
    }
    .about-content h1{
        font-size: 33px;
        font-weight: bold;
    }
    .about-content p{
        max-width: 700px;
        font-size: 16px;
        line-height: 38px;
        color: #5A5A5A;
    }
    .about-content-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin: 3rem 4rem 0;
    }
    .offer{
        margin:2rem 0rem;
        padding: 0rem 1rem ;
        background-color: transparent;
    }
    .our-team {
        padding:2rem 2rem
    }
    .about-content{
        flex: 1;
        padding: 0rem 0rem;
    }
    .about-content1{
        padding: 2rem 2rem;
    }
    .about-content1 h1{
        font-size: 33px;
        font-weight: bold;
        margin: 0;
    }
    .about-content1 p{
        max-width: 800px;
        font-size: 20px;
        line-height: 33px;
        color: #5A5A5A;
    }
    .about-content2{
        padding: 0rem 0.5rem 0rem;
    }
    .about-content2 h1{
        font-size: 33px;
        font-weight: bold;
        margin: 0rem 0rem 2rem;
    }
    .about-content2 p{
        max-width: 800px;
        font-size: 20px;
        line-height: 33px;
        color: #5A5A5A;
    }
    .team-image{
        position: relative;
        margin: 0 0.5rem;
    }
    .our-team {
        padding:3rem 2rem;
        background-color: #F9F9F9;
    }
    .m-and-v{
        margin: 0rem ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        background-color: #f9f9f9;
    }
    .team-members{
        padding: 0rem 0rem
    }
}