.review{
    background-color: #F7F7F8;
    padding: 4rem 4rem 8rem;
    z-index: 33;
}
.review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; 
    text-align: center;
    width: 100%;
}
.review-container h1{
    font-size: 46px;
    color: #246a47;
}
.cards{
    background-color: #246a47;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 4rem 1rem;
    margin: 2rem 1rem 0;
}
.cards p{ 
   font-size: 17px;
   color: white;
   max-width: 250px;
   line-height: 29px;
   font-style: italic;
   font-weight: 300;
}
.cards div{
    color: white;
}

@media screen and (max-width: 1200px) {
    .review{
        padding: 4rem 2rem 8rem;
    }
    .cards{
        background-color: #246a47;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 3rem 2rem 1rem;
        margin: 2rem 1rem 0;
    }
    .cards p{ 
       font-size: 18px;
       color: white;
       max-width: 250px;
       line-height: 29px;
       font-style: italic;
       font-weight: 300;
    }
}
@media screen and (max-width: 800px) {
    .review{
        padding: 4rem 2rem 8rem;
    }
    .cards-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center;
        width: 100%;
    }
    .cards{
        background-color: #246a47;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 2rem 0 0;
    }
    .cards p{ 
       font-size: 20px;
       color: white;
       max-width: 350px;
       line-height: 37px;
       font-style: italic;
       font-weight: 300;
    }
}
@media screen and (max-width: 500px) {
    .review{
        padding: 2rem 2rem 4rem;
    }
    .review-container h1{
        font-size: 26px;
        color: #246a47;
    }
    .cards{
        background-color: #246a47;
        width: 350px;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 2rem 0 0;
    }
    .cards p{ 
       font-size: 14px;
       color: white;
       max-width: 250px;
       line-height: 27px;
       font-style: italic;
       font-weight: 300;
    }
}
@media screen and (max-width: 380px) {
    .review{
        padding: 2rem 2rem 4rem;
    }
    .review-container h1{
        font-size: 26px;
        color: #246a47;
    }
    .cards{
        background-color: #246a47;
        width: 260px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 2rem 0 0;
    }
    .cards p{ 
       font-size: 12px;
       color: white;
       max-width: 220px;
       line-height: 23px;
       font-style: italic;
       font-weight: 300;
    }
}
@media screen and (max-width: 350px) {
    .review-container h1{
        font-size: 23px;
        color: #246a47;
    }
    
}
