.blog{
    padding: 0rem 12rem ;
}
.blog-news{
    color: #000000DF;
    max-width: 900px;
    border-bottom: 1px solid #989898df; 
}

.blog-news h1{
    margin: 4rem 0 1rem;
    text-decoration: none;
}
.blog-news a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #313131df;
    text-decoration: none;
}
.blog-news p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: #989898df;
    margin-bottom: 2rem;
}
.blog-news span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: #989898df;
    margin-bottom: 2rem;

}
@media screen and (max-width: 901px) {
    .blog-news h1{
        margin: 3rem 0 1rem;
        text-decoration: none;
    }
    .blog{
        padding: 0rem 3rem ;
    }
    .blog-news p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        font-weight: 100;
        color: #989898df;
        margin-bottom: 1rem;
    }
}