.parallax-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
  }
  
  .services-header-opacity {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 70vh;
    z-index: 4;
  }
  
  .parallax-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/service-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .services-opacity {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 70vh;
    z-index: 4;
  }
  
  .services-title {
    position: absolute;
    bottom: 10rem;
    left: 10%;
    z-index: 10;
  }
  
  .services-title h1 {
    font-size: 82px;
    font-weight: bold;
    color: white;
  }
  
  .services-page-title {
    width: 100%;
    margin: 4rem 0 2rem;
  }
  
  .services-main-content {
    padding: 0rem 8rem;
  }
  
  .services-page-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 0 4rem;
  }
  
  .services-page-content h1 {
    font-size: 43px;
    font-weight: bold;
  }
  
  .services-page-content p {
    max-width: 800px;
    font-size: 23px;
    line-height: 38px;
    color: #5A5A5A;
  }
  
  .services-page-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
    padding: 0rem 8rem;
  }
  
  .services-main-content h1 {
    font-size: 43px;
    font-weight: bold;
  }
  
  .services-main-content p {
    max-width: 800px;
    font-size: 23px;
    line-height: 38px;
    color: #5A5A5A;
  }
  
  .services-cards-content h1 {
    font-size: 20px;
  }
  
  .services-cards-content p {
    max-width: 300px;
    font-size: 16px;
    line-height: 26px;
    color: #5A5A5A;
    margin: 0;
  }
  
  .services-content h1 {
    font-size: 43px;
    font-weight: bold;
  }
  
  .services-content p {
    max-width: 800px;
    font-size: 23px;
    line-height: 38px;
    color: #5A5A5A;
  }
  
  .services-vertical {
    content: "";
    width: 80px;
    height: 5px;
    background-color: #246a47;
    margin: 1rem 0;
  }
  
  .our-specialization {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
  }
  
  .our-spec {
    position: relative;
    overflow: hidden;
    width: 375px;
    height: 300px;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .our-spec:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.5);
  }
  
  .our-spec-img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .our-spec-img img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .our-spec-content p {
    background-color: azure;
    padding: 0rem 2rem;
    font-weight: 200;
    font-size: 16px;
    z-index: 0;
  }
  
  .our-spec-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 400;
  }
  
  .our-spec:hover .our-spec-img::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.85);
    transition: all 0.4s;
    z-index: 400;
  }
  
  .our-spec-content {
    position: absolute;
    bottom: -20px;
    margin: 2rem 1rem;
    z-index: 1;
    cursor: pointer;
  }
  
  .our-spec:hover .our-spec-content {
    display: none;
  }
  
  .our-spec-p {
    display: none;
    z-index: 2000;
  }
  
  .our-spec:hover .our-spec-p {
    display: block;
    position: absolute;
    top: 2px;
    padding: 0 2rem;
    color: white;
    z-index: 400;
    width: 80%;
    font-size: 16px;
    line-height: 27px;
  }
  .services-video{
    margin: 3rem 8rem
  }
  .video{
    width: 1550px;
    height: 500px;
    object-fit: cover;
  }
@media (max-width: 1450px) {
    .services-title {
      position: absolute;
      bottom: 2rem;
      left: 7%;
      z-index: 10;
    }
    
    .services-title h1 {
      font-size: 78px;
      font-weight: bold;
      color: white;
    }
    .services-main-content {
      padding: 0rem 6rem;
    }
    .services-page-cards {
      padding: 0rem 6rem;
    }
    .our-spec {
      position: relative;
      overflow: hidden;
      width: 295px;
      height: 200px;
      transition: 0.5s;
      cursor: pointer;
    }
    .services-video{
      margin: 3rem 6rem
    }
    .video{
      width: 1250px;
      object-fit: cover;
    }
    .our-spec:hover .our-spec-p {
      display: block;
      position: absolute;
      top: 2px;
      padding: 0 2rem;
      color: white;
      z-index: 400;
      width: 80%;
      font-size: 14px;
      line-height: 27px;
    }

  }
@media (max-width: 1200px) {
    .our-spec {
      position: relative;
      overflow: hidden;
      width: 195px;
      height: 170px;
      transition: 0.5s;
      cursor: pointer;
    }
    .our-spec-content p{
      font-size: 12px;
    }
    .services-video{
      margin: 3rem 6rem
    }
    .video{
      width: 850px;
      height: 400px;
      object-fit: cover;
    }
    .our-spec:hover .our-spec-p {
      display: block;
      position: absolute;
      top: 2px;
      padding: 0 1rem;
      color: white;
      z-index: 400;
      width: 80%;
      font-size: 11px;
      line-height: 20px;
    }
}
@media (max-width: 800px) {
  .services-title h1 {
    font-size: 42px;
    font-weight: bold;
    color: white;
  }
  
  .services-page-title {
    width: 100%;
    margin: 2rem 0;
  }
  .services-main-content h1 {
    font-size: 33px;
    font-weight: bold;
  }
  
  .services-main-content p {
    max-width: 480px;
    font-size: 16px;
    line-height: 28px;
    color: #5A5A5A;
  }
  
  .services-main-content {
    padding: 0rem 2rem;
  }
  
  .services-page-main {
    margin: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
    width: 0;
  }
  
  .services-page-cards {
    padding: 0rem 2rem;
  }
  .services-cards-content h1 {
    font-size: 18px;
  }
  
  .services-cards-content p {
    max-width: 150px;
    font-size: 14px;
    line-height: 21px;
  }
  .our-specialization {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .our-spec {
    width: 200px;
    height: 170px;
  }
  .services-page-content h1 {
    font-size: 33px;
    font-weight: bold;
    margin: 0rem 0rem 2rem;
  }
  
  .services-page-content p {
    max-width: 600px;
    font-size: 16px;
    line-height: 28px;
    color: #5A5A5A;
  }
  .our-spec-content p {
    background-color: azure;
    padding: 0rem 2rem;
    font-weight: 200;
    font-size: 12px;
    z-index: 0;
  }
  .services-video{
    margin: 1rem 2rem
  }
  .video{
    width: 670px;
    height: 300px;
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .services-main-content {
    padding: 0rem 2rem;
  }
  .services-title {
    position: absolute;
    bottom: 5rem;
    left: 35%;
    z-index: 10;
  }
  .services-title h1{
    font-size: 43px;
  }
  .services-main-content h1{
    font-size: 28px;
  }
  .services-page-cards {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    padding: 0rem 2rem;
  }
  .our-specialization {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: relative;
  }
  .our-spec {
    position: relative;
    overflow: hidden;
    width: 175px;
    height: 175px;
    transition: 0.5s;
    cursor: pointer;
  }
  .our-spec:hover .our-spec-p {
    display: block;
    position: absolute;
    top: 2px;
    padding: 0 1rem;
    color: white;
    z-index: 400;
    width: 80%;
    font-size: 10px;
    line-height: 20px;
  }
  .our-spec-content p {
    background-color: azure;
    padding: 0rem 0.5rem;
    font-weight: 200;
    font-size: 12px;
    z-index: 0;
  }
  .our-spec-content {
    position: absolute;
    top: 92px;
    margin: 2rem 0.5rem;
    z-index: 1;
    cursor: pointer;
  }
  .services-vertical{
    content: "";
        width: 80px;
        height: 2px;
        background-color: #246a47;
        margin: 0rem 0;
  }
  .services-video{
    margin: 1rem 2rem
  }
  .video{
    width: 360px;
    height: 200px;
    object-fit: cover;
  }
}
@media (max-width: 450px) {
  .services-main-content {
    padding: 0rem 2rem;
  }
  .services-title {
    position: absolute;
    bottom: 5rem;
    left: 35%;
    z-index: 10;
  }
  .services-title h1{
    font-size: 43px;
  }
  .services-main-content h1{
    font-size: 28px;
  }
  .services-page-cards {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    padding: 0rem 2rem;
  }
  
  .our-spec:hover {
    z-index: 1;
    transform: scale(1.15);
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.5);
  }
  .our-specialization {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: relative;
  }
  .our-spec {
    position: relative;
    overflow: hidden;
    width: 165px;
    height: 175px;
    transition: 0.5s;
    cursor: pointer;
  }
  .our-spec:hover .our-spec-p {
    display: block;
    position: absolute;
    top: 2px;
    padding: 0 1rem;
    color: white;
    z-index: 400;
    width: 80%;
    font-size: 10px;
    line-height: 20px;
  }
  .our-spec-content p {
    background-color: azure;
    padding: 0rem 0.5rem;
    font-weight: 200;
    font-size: 12px;
    z-index: 0;
  }
  .our-spec-content {
    position: absolute;
    top: 92px;
    margin: 2rem 0.5rem;
    z-index: 1;
    cursor: pointer;
  }
  .services-vertical{
    content: "";
        width: 80px;
        height: 2px;
        background-color: #246a47;
        margin: 0rem 0;
  }
  .services-video{
    margin: 1rem 2rem
  }
  .video{
    width: 360px;
    height: 200px;
    object-fit: cover;
  }
}
@media (max-width: 400px) {
  .services-title {
    position: absolute;
    bottom: 5rem;
    left: 33%;
    z-index: 7;
  }
  .our-spec {
    position: relative;
    overflow: hidden;
    width: 145px;
    height: 150px;
    transition: 0.5s;
    cursor: pointer;
  }
  .our-spec:hover .our-spec-p {
    display: block;
    position: absolute;
    top: 2px;
    padding: 0 1rem;
    color: white;
    z-index: 400;
    width: 85%;
    font-size: 10px;
    line-height: 15px;
  }
  .our-spec-content {
    position: absolute;
    top: 70px;
    margin: 2rem 0.5rem;
    z-index: 1;
    cursor: pointer;
  }
  .services-video{
    margin: 1rem 2rem
  }
  .video{
    width: 310px;
    height: 170px;
    object-fit: cover;
  }
}
@media (max-width: 350px) {
  .services-main-content {
    padding: 0rem 2rem;
  }
  .services-title {
    position: absolute;
    bottom: 4rem;
    left: 28%;
    z-index: 7;
  }
  .services-title h1{
    font-size: 43px;
  }
  .services-main-content h1{
    font-size: 28px;
  }
  .services-page-cards {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    padding: 0rem 2rem;
  }
  .our-specialization {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    position: relative;
  }
  .our-spec {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;
  }
  .our-spec:hover .our-spec-p {
    display: block;
    position: absolute;
    top: 2px;
    padding: 0 1rem;
    color: white;
    z-index: 400;
    width: 85%;
    font-size: 15px;
    line-height: 25px;
  }
  .our-spec-content {
    position: absolute;
    top: 120px;
    margin: 2rem 0.5rem;
    z-index: 1;
    cursor: pointer;
  }
  .our-spec:hover {
    z-index: 1;
    transform: scale(1.15);
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.5);
  }
  .services-video{
    margin: 1rem 2rem
  }
  .video{
    width: 255px;
    height: 140px;
    object-fit: cover;
  }
  
}