.core-values{
    padding: 15rem 4rem;
    background-color: #F7F7F8;
}
.core-values-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.core-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.core-image img{
    width: 72px;
    height: 72px;
    transition: transform 0.5s;
}         
.core-image img:hover{
   transform: scale(1.35);
   
} 
.core-content h1{
    font-size: 33px;
}